n8n/workflows/DungeonMaster_Nbw7xEIAgNqaxqlo.json
{"updatedAt":"2025-11-24T20:16:30.000Z","createdAt":"2025-11-23T16:55:36.848Z","id":"Nbw7xEIAgNqaxqlo","name":"DungeonMaster","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"coc_dungeonmaster","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,-64],"id":"b2bfc462-4643-4dcd-b219-79a4eb28c200","name":"Webhook","webhookId":"ff9e4822-966d-4812-b07e-30c278a2d949"},{"parameters":{"promptType":"define","text":"={{ $json.body }}","options":{"systemMessage":"You are a helpful assistant","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-16,-64],"id":"2f41c476-5695-45c8-aac7-198b3385bce8","name":"AI Agent"},{"parameters":{"model":"gpt-oss:20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-32,112],"id":"3b206ad5-d871-4805-a281-c2cba2379743","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"FvdMLIeusAP8Vyzs","name":"Ollama GPU"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe18d209-05a7-4f3c-af66-40cb70a25469","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T16:55:36.850Z","createdAt":"2025-11-23T16:55:36.850Z","role":"workflow:owner","workflowId":"Nbw7xEIAgNqaxqlo","projectId":"X7J9b2uAMgVqH1Lm","project":{"updatedAt":"2025-11-22T00:10:20.320Z","createdAt":"2025-11-21T23:52:31.971Z","id":"X7J9b2uAMgVqH1Lm","name":"Martin Ulbrich <admin@local.host>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-21T23:52:31.971Z","createdAt":"2025-11-21T23:52:31.971Z","userId":"506078c0-7b8a-4620-8f12-7776e5f34eb1","projectId":"X7J9b2uAMgVqH1Lm","user":{"updatedAt":"2025-11-24T20:11:12.000Z","createdAt":"2025-11-21T23:52:31.793Z","id":"506078c0-7b8a-4620-8f12-7776e5f34eb1","email":"admin@local.host","firstName":"Martin","lastName":"Ulbrich","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-22T00:10:32.669Z","personalization_survey_n8n_version":"1.117.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"Nbw7xEIAgNqaxqlo","userActivatedAt":1763918722630,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-24","isPending":false}}]}}],"tags":[]}