n8n/workflows/Prophet_RSINpiWzK4O4sUMb.json
{"updatedAt":"2025-11-24T20:16:15.000Z","createdAt":"2025-11-24T20:14:05.517Z","id":"RSINpiWzK4O4sUMb","name":"Prophet","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"coc_prophet","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,-64],"id":"5923ca6f-1084-4567-8e50-baa31dec9b00","name":"Webhook","webhookId":"a84d37e8-6b19-4e82-9f2f-494cc3e7d629"},{"parameters":{"promptType":"define","text":"={{ $json.body }}","options":{"systemMessage":"You are a helpful assistant","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-16,-64],"id":"75495cd5-b903-4065-8905-adecdca64450","name":"AI Agent"},{"parameters":{"model":"gpt-oss:20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-32,112],"id":"f0d580f8-fdd6-45f6-8f04-61bcf0fdcc7e","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"FvdMLIeusAP8Vyzs","name":"Ollama GPU"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"464f7f72-1aa2-4345-89de-6da9139cc216","triggerCount":1,"shared":[{"updatedAt":"2025-11-24T20:14:05.519Z","createdAt":"2025-11-24T20:14:05.519Z","role":"workflow:owner","workflowId":"RSINpiWzK4O4sUMb","projectId":"X7J9b2uAMgVqH1Lm","project":{"updatedAt":"2025-11-22T00:10:20.320Z","createdAt":"2025-11-21T23:52:31.971Z","id":"X7J9b2uAMgVqH1Lm","name":"Martin Ulbrich <admin@local.host>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-21T23:52:31.971Z","createdAt":"2025-11-21T23:52:31.971Z","userId":"506078c0-7b8a-4620-8f12-7776e5f34eb1","projectId":"X7J9b2uAMgVqH1Lm","user":{"updatedAt":"2025-11-24T20:11:12.000Z","createdAt":"2025-11-21T23:52:31.793Z","id":"506078c0-7b8a-4620-8f12-7776e5f34eb1","email":"admin@local.host","firstName":"Martin","lastName":"Ulbrich","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-22T00:10:32.669Z","personalization_survey_n8n_version":"1.117.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"Nbw7xEIAgNqaxqlo","userActivatedAt":1763918722630,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-24","isPending":false}}]}}],"tags":[]}