n8n_workflows/DungeonMaster_Main.json
{
  "name": "DungeonMaster Main v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coc_dungeonmaster_v2",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-dungeonmaster-v2",
      "name": "Webhook - Receive Context Bundle",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "coc-dungeonmaster-v2-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields from backend context bundle\nconst body = $json.body || $json;\n\n// Validate required top-level fields\nconst required = ['turn_id', 'callback_url', 'context', 'actions'];\nfor (const field of required) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Validate context sub-fields\nconst contextRequired = ['campaign', 'scene'];\nfor (const field of contextRequired) {\n  if (!body.context[field]) {\n    throw new Error(`Missing context field: ${field}`);\n  }\n}\n\n// Log for debugging\nconsole.log(`[DM v2] Processing turn ${body.turn_id}`);\nconsole.log(`[DM v2] Context bundle size: ${JSON.stringify(body.context).length} bytes`);\n\nreturn [{ json: body }];"
      },
      "id": "validate-context-node",
      "name": "Validate Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "jsCode": "// Format context for LLM Synthesizer SubWF\nconst data = $json;\n\nreturn [{\n  json: {\n    agent_type: \"dungeonmaster\",\n    collected_data: {\n      campaign: data.context.campaign,\n      chapter: data.context.chapter,\n      scene: data.context.scene,\n      previous_turns: data.context.previous_turns || [],\n      characters: data.context.characters || [],\n      lore_context: data.context.lore_context || [],\n      skill_checks: data.context.skill_checks || [],\n      player_actions: data.actions\n    },\n    actions: data.actions,\n    references: [],\n    // Preserve for callback\n    _turn_id: data.turn_id,\n    _callback_url: data.callback_url\n  }\n}];"
      },
      "id": "prepare-llm-input-node",
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "workflowId": "={{ \"LLM Synthesizer SubWF\" }}",
        "options": {}
      },
      "id": "call-llm-synthesizer-node",
      "name": "Call LLM Synthesizer SubWF",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "jsCode": "// Format callback payload for backend\nconst llmResult = $json;\nconst originalData = $('Prepare LLM Input').first().json;\n\n// Build callback payload matching backend's CallbackPayload schema\nconst callbackPayload = {\n  turn_id: originalData._turn_id,\n  success: true,\n  result: {\n    narrative: llmResult.narrative || '',\n    summary: llmResult.summary || '',\n    transition: llmResult.transition || { type: 'none', reason: null, suggested_name: null, suggested_description: null },\n    requires_input: llmResult.requires_input || false,\n    interaction_type: llmResult.interaction_type || 'NONE',\n    rules_applied: llmResult.rules_applied || []\n  },\n  error: null\n};\n\nconsole.log(`[DM v2] Calling backend callback for turn ${originalData._turn_id}`);\nconsole.log(`[DM v2] Transition detected: ${callbackPayload.result.transition.type}`);\n\nreturn [{\n  json: {\n    url: originalData._callback_url,\n    payload: callbackPayload\n  }\n}];"
      },
      "id": "format-callback-payload-node",
      "name": "Format Callback Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "post-to-backend-callback-node",
      "name": "POST to Backend Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receive Context Bundle": {
      "main": [
        [
          {
            "node": "Validate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Context": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "Call LLM Synthesizer SubWF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM Synthesizer SubWF": {
      "main": [
        [
          {
            "node": "Format Callback Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Callback Payload": {
      "main": [
        [
          {
            "node": "POST to Backend Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "new-version-v2",
  "meta": {
    "instanceId": "simplified-dungeonmaster-workflow"
  },
  "id": "DungeonMasterMainV2",
  "tags": []
}
