n8n_workflows/LLM_Synthesizer_SubWF.json
{
  "updatedAt": "2025-11-29T17:04:16.416Z",
  "createdAt": "2025-11-28T21:36:53.712Z",
  "id": "l0qIOBJbnkSQagfu",
  "name": "LLM Synthesizer SubWF",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "8a5b62e2-472f-4cd9-a1e7-c13cd4502135",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build context prompt for LLM\nconst question = $json.question || $json.query || '';\nconst collectedData = $json.collected_data || {};\nconst agentType = $json.agent_type || 'prophet';\nconst references = $json.references || [];\n\n// Build system prompt based on agent type\nlet systemPrompt = '';\n\nif (agentType === 'prophet') {\n  systemPrompt = `You are the Prophet, a helpful assistant for Call of Cthulhu RPG players. Your role is to answer questions about:\n- Character statistics and abilities\n- Game rules and mechanics\n- Turn history and past events\n- Dice rolling and skill checks\n- Campaign lore and story elements\n\nIMPORTANT GUIDELINES:\n- Be concise and factual\n- Cite sources when available\n- If data is missing or unclear, acknowledge it\n- Use Call of Cthulhu terminology accurately\n- Maintain the dark, mysterious tone of the setting`;\n\n} else if (agentType === 'dungeonmaster') {\n  systemPrompt = `You are the Keeper (Game Master) for Call of Cthulhu. You describe the world, NPCs, and consequences.\n\n=== ABSOLUTE RULES ===\n1. NEVER speak for player characters - they control what they say\n2. NEVER decide player character actions - they control what they do\n3. NEVER put words in players' mouths\n4. ONLY describe: environment, NPCs, sounds, smells, atmosphere, consequences of actions\n\n=== YOUR ROLE ===\nYou are a narrator describing a scene. When a player says \"I search the bookshelf\", you describe:\n- What they find (or don't find)\n- The atmosphere of the room\n- Any NPC reactions\n- Sensory details (dust, creaking, shadows)\n\nYou do NOT say: \"You say 'interesting!'\" or \"You decide to read the book\"\n\n=== TONE ===\n- Dark, atmospheric, Lovecraftian horror\n- Build tension and dread\n- Use sensory details\n- Hint at cosmic horror without revealing too much\n\n=== OUTPUT FORMAT ===\nRESPOND WITH VALID JSON ONLY:\n{\n  \"narrative\": \"2-4 paragraphs describing the scene, environment, and consequences\",\n  \"summary\": \"One sentence summary\",\n  \"transition\": {\"type\": \"none|scene|chapter\", \"reason\": null, \"suggested_name\": null, \"suggested_description\": null},\n  \"requires_input\": false,\n  \"interaction_type\": \"NONE|DISCOVERY|COMBAT|CHOICE\"\n}`;\n}\n\n// Build user prompt with collected data\nlet userPromptParts = [];\n\n// Always start with the original question\nif (question) {\n  userPromptParts.push(`Question: ${question}`);\n  userPromptParts.push('');\n}\n\n// Handle dice roll results from collected_data\nif (collectedData.dice_result) {\n  userPromptParts.push('=== DICE ROLL RESULT ===');\n  if (collectedData.dice_result.formatted) {\n    userPromptParts.push(collectedData.dice_result.formatted);\n  } else {\n    userPromptParts.push(`Expression: ${collectedData.dice_result.expression || 'unknown'}`);\n    userPromptParts.push(`Total: ${collectedData.dice_result.total}`);\n  }\n  userPromptParts.push('');\n}\n\n// Add character data\nif (collectedData.characters && collectedData.characters.length > 0) {\n  userPromptParts.push('=== CHARACTER DATA ===');\n  collectedData.characters.forEach(char => {\n    userPromptParts.push(`Character: ${char.name}`);\n    if (char.occupation) userPromptParts.push(`Occupation: ${char.occupation}`);\n    if (char.sanity) userPromptParts.push(`Sanity: ${char.sanity.current}/${char.sanity.max}`);\n    if (char.hit_points) userPromptParts.push(`HP: ${char.hit_points.current}/${char.hit_points.max}`);\n    userPromptParts.push('');\n  });\n}\n\n// Add realm context (overall group tone/setting)\nif (collectedData.realm) {\n  const realm = collectedData.realm;\n  userPromptParts.push('=== REALM CONTEXT ===');\n  if (realm.name) userPromptParts.push(`Realm: ${realm.name}`);\n  if (realm.setting?.tone) userPromptParts.push(`Overall Tone: ${realm.setting.tone}`);\n  if (realm.setting?.notes) userPromptParts.push(`Setting Notes: ${realm.setting.notes}`);\n  userPromptParts.push('');\n}\n\n// Add campaign data\nif (collectedData.campaign) {\n  const campaign = collectedData.campaign;\n  userPromptParts.push('=== CAMPAIGN CONTEXT ===');\n  if (campaign.name) userPromptParts.push(`Campaign: ${campaign.name}`);\n  if (campaign.setting?.tone) userPromptParts.push(`Campaign Tone: ${campaign.setting.tone}`);\n  if (campaign.setting?.starting_point) userPromptParts.push(`Starting Point: ${campaign.setting.starting_point}`);\n  if (campaign.setting?.goal) userPromptParts.push(`Goal: ${campaign.setting.goal}`);\n  if (campaign.story_arc?.tagline) userPromptParts.push(`Story: ${campaign.story_arc.tagline}`);\n  if (campaign.setting?.story_elements) {\n    userPromptParts.push(`Story Elements: ${campaign.setting.story_elements.join(', ')}`);\n  }\n  if (campaign.setting?.key_elements) {\n    userPromptParts.push(`Key Elements: ${campaign.setting.key_elements.join(', ')}`);\n  }\n  userPromptParts.push('');\n}\n\n// Add chapter context\nif (collectedData.chapter) {\n  const chapter = collectedData.chapter;\n  userPromptParts.push('=== CHAPTER CONTEXT ===');\n  if (chapter.name) userPromptParts.push(`Chapter: ${chapter.name}`);\n  if (chapter.summary) userPromptParts.push(`Summary: ${chapter.summary}`);\n  userPromptParts.push('');\n}\n\n// Add scene context\nif (collectedData.scene) {\n  const scene = collectedData.scene;\n  userPromptParts.push('=== CURRENT SCENE ===');\n  if (scene.name) userPromptParts.push(`Scene: ${scene.name}`);\n  if (scene.location) userPromptParts.push(`Location: ${scene.location}`);\n  if (scene.summary) userPromptParts.push(`Summary: ${scene.summary}`);\n  userPromptParts.push('');\n}\n\n// Add rules/lore chunks from Qdrant\nif (collectedData.rules_chunks && collectedData.rules_chunks.length > 0) {\n  userPromptParts.push('=== RELEVANT RULES ===');\n  collectedData.rules_chunks.forEach((chunk, idx) => {\n    userPromptParts.push(`[${idx + 1}] ${chunk.text}`);\n    userPromptParts.push(`Source: ${chunk.source}`);\n    userPromptParts.push('');\n  });\n}\n\n// Add previous turns for context (DungeonMaster)\nif (collectedData.previous_turns && collectedData.previous_turns.length > 0) {\n  userPromptParts.push('=== PREVIOUS TURNS IN THIS SCENE ===');\n  collectedData.previous_turns.forEach(turn => {\n    userPromptParts.push(`Turn #${turn.order}:`);\n    if (turn.actions) {\n      turn.actions.forEach(action => {\n        if (action.speak) userPromptParts.push(`  ${action.character_name || 'Character'} says: \"${action.speak}\"`);\n        if (action.act) userPromptParts.push(`  ${action.character_name || 'Character'} does: ${action.act}`);\n      });\n    }\n    if (turn.reaction?.description) {\n      userPromptParts.push(`  Result: ${turn.reaction.description}`);\n    }\n    userPromptParts.push('');\n  });\n}\n\n// Add turn history (for Prophet)\nif (collectedData.turns && collectedData.turns.length > 0) {\n  userPromptParts.push('=== TURN HISTORY ===');\n  collectedData.turns.forEach(turn => {\n    userPromptParts.push(`Turn #${turn.turn_number}:`);\n    if (turn.actions) {\n      turn.actions.forEach(action => {\n        if (action.speak) userPromptParts.push(`  Speak: ${action.speak}`);\n        if (action.act) userPromptParts.push(`  Act: ${action.act}`);\n      });\n    }\n    if (turn.reaction?.description) {\n      userPromptParts.push(`  Reaction: ${turn.reaction.description}`);\n    }\n    userPromptParts.push('');\n  });\n}\n\n// Add player actions (for DungeonMaster)\nif (collectedData.player_actions && collectedData.player_actions.length > 0) {\n  userPromptParts.push('=== PLAYER ACTIONS TO RESOLVE ===');\n  collectedData.player_actions.forEach((action, idx) => {\n    userPromptParts.push(`[${idx + 1}] ${action.character_name || 'Character'}:`);\n    if (action.speak) userPromptParts.push(`  Says: \"${action.speak}\"`);\n    if (action.act) userPromptParts.push(`  Does: ${action.act}`);\n    if (action.appearance) userPromptParts.push(`  Appearance: ${action.appearance}`);\n    if (action.emotion) userPromptParts.push(`  Emotion: ${action.emotion}`);\n    userPromptParts.push('');\n  });\n  userPromptParts.push('Describe the scene and consequences. Do NOT speak or act for the player characters.');\n}\n\n// Add skill check results (for DungeonMaster)\nif (collectedData.skill_checks && collectedData.skill_checks.length > 0) {\n  userPromptParts.push('=== SKILL CHECK RESULTS ===');\n  collectedData.skill_checks.forEach(check => {\n    userPromptParts.push(`${check.character_name || 'Character'}: ${check.skill_name} - ${check.success_level} (rolled ${check.rolled} vs ${check.target_value})`);\n  });\n  userPromptParts.push('');\n}\n\nconst userPrompt = userPromptParts.join('\\n');\n\nreturn [\n  {\n    json: {\n      system_prompt: systemPrompt,\n      user_prompt: userPrompt,\n      question,\n      references,\n      agent_type: agentType\n    }\n  }\n];"
      },
      "id": "af747f93-727e-4a74-b9f0-e4a10700f25a",
      "name": "Build Context Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-oss:20b', messages: [{ role: 'system', content: $json.system_prompt }, { role: 'user', content: $json.user_prompt }], stream: false, format: 'json', options: { temperature: 0.3, num_predict: 1000 } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "432d6d9d-9de9-4229-a833-22aac0f55990",
      "name": "LLM Call (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract answer from Ollama response\nconst ollamaResponse = $json.message?.content || $json.response || '';\n\n// Get references and agentType from Build Context Prompt node\nconst buildContextData = $('Build Context Prompt').first().json;\nconst references = buildContextData.references || [];\nconst agentType = buildContextData.agent_type || 'prophet';\n\nconsole.log('[Extract Answer] Agent type:', agentType);\nconsole.log('[Extract Answer] Raw LLM response length:', ollamaResponse.length);\n\n// For dungeonmaster agent, parse structured JSON output\nif (agentType === 'dungeonmaster') {\n  try {\n    // Try to parse the LLM response as JSON\n    const parsed = JSON.parse(ollamaResponse);\n    console.log('[Extract Answer] Parsed JSON successfully');\n    \n    // Validate required fields\n    if (parsed.narrative && parsed.transition) {\n      return [\n        {\n          json: {\n            narrative: parsed.narrative,\n            summary: parsed.summary || '',\n            transition: {\n              type: parsed.transition.type || 'none',\n              reason: parsed.transition.reason || null,\n              suggested_name: parsed.transition.suggested_name || null,\n              suggested_description: parsed.transition.suggested_description || null\n            },\n            requires_input: parsed.requires_input || false,\n            interaction_type: parsed.interaction_type || 'NONE',\n            agent_type: agentType,\n            references: references\n          }\n        }\n      ];\n    }\n  } catch (error) {\n    // If JSON parsing fails, log error and fall back to narrative-only\n    console.error('Failed to parse dungeonmaster JSON response:', error.message);\n    console.error('Raw response:', ollamaResponse);\n    \n    // Fallback: return response as narrative with no transition\n    return [\n      {\n        json: {\n          narrative: ollamaResponse,\n          summary: '',\n          transition: {\n            type: 'none',\n            reason: 'JSON parsing failed',\n            suggested_name: null,\n            suggested_description: null\n          },\n          requires_input: false,\n          interaction_type: 'NONE',\n          agent_type: agentType,\n          references: references,\n          _error: 'Failed to parse structured response'\n        }\n      }\n    ];\n  }\n}\n\n// For prophet agent, return simple answer format\nreturn [\n  {\n    json: {\n      answer: ollamaResponse,\n      references: references,\n      agent_type: agentType\n    }\n  }\n];"
      },
      "id": "21b5d399-dff3-4d02-b7e8-d7b4e115ed04",
      "name": "Extract Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -272
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Context Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context Prompt": {
      "main": [
        [
          {
            "node": "LLM Call (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (Ollama)": {
      "main": [
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "agent_type": "dungeonmaster",
          "collected_data": {
            "campaign": {
              "id": "campaign-0ad7ba4f",
              "name": "The search for the golden globe - Campaign 01",
              "setting": null,
              "story_arc": null,
              "themes": []
            },
            "chapter": {
              "id": "chapter-a624d925",
              "name": "Untitled Chapter",
              "summary": "Chapter in progress",
              "order": 1
            },
            "scene": {
              "id": "scene-3fbe0aa2",
              "name": "Untitled Scene",
              "location": null,
              "summary": "Scene in progress",
              "status": "in_progress",
              "participants": [
                "char-3dd88b35"
              ]
            },
            "previous_turns": [
              {
                "order": 2,
                "actions": [
                  {
                    "actor_id": "char-3dd88b35",
                    "controller_owner": "Martin",
                    "speak": null,
                    "act": "I carefully examine the dusty room, looking for any signs of unusual activity or hidden passages.",
                    "appearance": null,
                    "emotion": null,
                    "ooc": null,
                    "meta": {}
                  }
                ],
                "reaction": null
              },
              {
                "order": 3,
                "actions": [
                  {
                    "actor_id": "char-3dd88b35",
                    "controller_owner": "Martin",
                    "speak": null,
                    "act": "I carefully examine the dusty room, looking for any signs of unusual activity or hidden passages.",
                    "appearance": null,
                    "emotion": null,
                    "ooc": null,
                    "meta": {}
                  }
                ],
                "reaction": null
              },
              {
                "order": 3,
                "actions": [
                  {
                    "actor_id": "char-3dd88b35",
                    "controller_owner": "Martin",
                    "speak": null,
                    "act": "I carefully examine the dusty room, looking for any signs of unusual activity or hidden passages.",
                    "appearance": null,
                    "emotion": null,
                    "ooc": null,
                    "meta": {}
                  }
                ],
                "reaction": null
              },
              {
                "order": 4,
                "actions": [
                  {
                    "actor_id": "char-3dd88b35",
                    "controller_owner": "Martin",
                    "speak": null,
                    "act": "I carefully examine the dusty room, looking for any signs of unusual activity.",
                    "appearance": null,
                    "emotion": null,
                    "ooc": null,
                    "meta": {}
                  }
                ],
                "reaction": null
              }
            ],
            "characters": [],
            "lore_context": [],
            "skill_checks": [],
            "player_actions": [
              {
                "actor_id": "char-3dd88b35",
                "controller_owner": "Martin",
                "speak": null,
                "act": "I walk towards the old bookshelf and examine the dusty tomes.",
                "appearance": null,
                "emotion": null,
                "ooc": null,
                "meta": {}
              }
            ]
          },
          "actions": [
            {
              "actor_id": "char-3dd88b35",
              "controller_owner": "Martin",
              "speak": null,
              "act": "I walk towards the old bookshelf and examine the dusty tomes.",
              "appearance": null,
              "emotion": null,
              "ooc": null,
              "meta": {}
            }
          ],
          "references": [],
          "_turn_id": "turn-4b19f1d1",
          "_callback_url": "http://backend:8000/api/v1/internal/turns/turn-4b19f1d1/complete"
        }
      }
    ]
  },
  "versionId": "eb25ca5d-78fb-462a-9630-f48673f7078e",
  "versionCounter": 12,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-28T21:36:53.714Z",
      "createdAt": "2025-11-28T21:36:53.714Z",
      "role": "workflow:owner",
      "workflowId": "l0qIOBJbnkSQagfu",
      "projectId": "X7J9b2uAMgVqH1Lm",
      "project": {
        "updatedAt": "2025-11-22T00:10:20.320Z",
        "createdAt": "2025-11-21T23:52:31.971Z",
        "id": "X7J9b2uAMgVqH1Lm",
        "name": "Martin Ulbrich <admin@local.host>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
