n8n_workflows/LLM_Synthesizer_SubWF.json
{
  "name": "LLM Synthesizer SubWF",
  "nodes": [
    {
      "parameters": {},
      "id": "59a3daf5-1595-426c-9cdc-238390fe21a4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build context prompt for LLM\nconst question = $json.question || $json.query || '';\nconst collectedData = $json.collected_data || {};\nconst agentType = $json.agent_type || 'prophet';\nconst references = $json.references || [];\n\n// Build system prompt based on agent type\nlet systemPrompt = '';\n\nif (agentType === 'prophet') {\n  systemPrompt = `You are the Prophet, a helpful assistant for Call of Cthulhu RPG players. Your role is to answer questions about:\n- Character statistics and abilities\n- Game rules and mechanics\n- Turn history and past events\n- Dice rolling and skill checks\n- Campaign lore and story elements\n\nIMPORTANT GUIDELINES:\n- Be concise and factual\n- Cite sources when available\n- If data is missing or unclear, acknowledge it\n- Use Call of Cthulhu terminology accurately\n- Maintain the dark, mysterious tone of the setting`;\n\n} else if (agentType === 'dungeonmaster') {\n  systemPrompt = `You are the DungeonMaster agent for Call of Cthulhu. Your role:\n1. Process player-declared actions\n2. Resolve skill checks\n3. Generate narrative reactions (NPCs, environment, outcomes)\n\nCRITICAL RULES:\n- NEVER decide what player characters do\n- ONLY describe outcomes of player-declared actions\n- If the scene requires player decisions, STOP and return the scene\n- NPCs and environment can act autonomously\n- Players control their characters exclusively\n\nYour narrative should:\n- Drive toward campaign milestones\n- Incorporate Call of Cthulhu mythos and tone\n- Reflect skill check outcomes\n- Maintain dark, atmospheric tension`;\n}\n\n// Build user prompt with collected data\nlet userPromptParts = [];\n\nif (question) {\n  userPromptParts.push(`Question: ${question}`);\n}\n\n// Add character data\nif (collectedData.characters && collectedData.characters.length > 0) {\n  userPromptParts.push('\\n=== CHARACTER DATA ===');\n  collectedData.characters.forEach(char => {\n    userPromptParts.push(`Character: ${char.name}`);\n    if (char.occupation) userPromptParts.push(`Occupation: ${char.occupation}`);\n    if (char.sanity) userPromptParts.push(`Sanity: ${char.sanity.current}/${char.sanity.max}`);\n    if (char.hit_points) userPromptParts.push(`HP: ${char.hit_points.current}/${char.hit_points.max}`);\n    userPromptParts.push('');\n  });\n}\n\n// Add campaign data\nif (collectedData.campaign) {\n  const campaign = collectedData.campaign;\n  userPromptParts.push('\\n=== CAMPAIGN CONTEXT ===');\n  if (campaign.name) userPromptParts.push(`Campaign: ${campaign.name}`);\n  if (campaign.setting?.tone) userPromptParts.push(`Tone: ${campaign.setting.tone}`);\n  if (campaign.setting?.goal) userPromptParts.push(`Goal: ${campaign.setting.goal}`);\n  if (campaign.story_arc?.tagline) userPromptParts.push(`Story: ${campaign.story_arc.tagline}`);\n  if (campaign.setting?.key_elements) {\n    userPromptParts.push(`Key Elements: ${campaign.setting.key_elements.join(', ')}`);\n  }\n  userPromptParts.push('');\n}\n\n// Add rules/lore chunks from Qdrant\nif (collectedData.rules_chunks && collectedData.rules_chunks.length > 0) {\n  userPromptParts.push('\\n=== RELEVANT RULES ===');\n  collectedData.rules_chunks.forEach((chunk, idx) => {\n    userPromptParts.push(`[${idx + 1}] ${chunk.text}`);\n    userPromptParts.push(`Source: ${chunk.source}`);\n    userPromptParts.push('');\n  });\n}\n\n// Add turn history\nif (collectedData.turns && collectedData.turns.length > 0) {\n  userPromptParts.push('\\n=== TURN HISTORY ===');\n  collectedData.turns.forEach(turn => {\n    userPromptParts.push(`Turn #${turn.turn_number}:`);\n    if (turn.actions) {\n      turn.actions.forEach(action => {\n        if (action.speak) userPromptParts.push(`  Speak: ${action.speak}`);\n        if (action.act) userPromptParts.push(`  Act: ${action.act}`);\n      });\n    }\n    if (turn.reaction?.description) {\n      userPromptParts.push(`  Reaction: ${turn.reaction.description}`);\n    }\n    userPromptParts.push('');\n  });\n}\n\n// Add player actions (for DungeonMaster)\nif (collectedData.player_actions && collectedData.player_actions.length > 0) {\n  userPromptParts.push('\\n=== PLAYER ACTIONS ===');\n  collectedData.player_actions.forEach((action, idx) => {\n    userPromptParts.push(`[${idx + 1}] ${action.character_name || 'Character'}:`);\n    if (action.speak) userPromptParts.push(`  Says: \"${action.speak}\"`);\n    if (action.act) userPromptParts.push(`  Does: ${action.act}`);\n    if (action.appearance) userPromptParts.push(`  Appearance: ${action.appearance}`);\n    if (action.emotion) userPromptParts.push(`  Emotion: ${action.emotion}`);\n    userPromptParts.push('');\n  });\n}\n\n// Add skill check results (for DungeonMaster)\nif (collectedData.skill_checks && collectedData.skill_checks.length > 0) {\n  userPromptParts.push('\\n=== SKILL CHECK RESULTS ===');\n  collectedData.skill_checks.forEach(check => {\n    userPromptParts.push(`${check.character_name || 'Character'}: ${check.skill_name} - ${check.success_level} (rolled ${check.rolled} vs ${check.target_value})`);\n  });\n  userPromptParts.push('');\n}\n\nconst userPrompt = userPromptParts.join('\\n');\n\nreturn [\n  {\n    json: {\n      system_prompt: systemPrompt,\n      user_prompt: userPrompt,\n      question,\n      references,\n      agent_type: agentType\n    }\n  }\n];"
      },
      "id": "4a1bb658-ddbd-47c2-a4fc-800f753ef8fe",
      "name": "Build Context Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-oss:20b',\n  messages: [\n    {\n      role: 'system',\n      content: $json.system_prompt\n    },\n    {\n      role: 'user',\n      content: $json.user_prompt\n    }\n  ],\n  stream: false,\n  options: {\n    temperature: 0.3,\n    num_predict: 1000\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "0ab02fc0-183b-403e-8a91-e4b709188403",
      "name": "LLM Call (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract answer from Ollama response\nconst ollamaResponse = $json.message?.content || $json.response || '';\nconst references = $input.first().json.references || [];\nconst agentType = $input.first().json.agent_type || 'prophet';\n\nreturn [\n  {\n    json: {\n      answer: ollamaResponse,\n      references: references,\n      agent_type: agentType\n    }\n  }\n];"
      },
      "id": "5636bd28-224c-4559-b044-659156949cca",
      "name": "Extract Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Context Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context Prompt": {
      "main": [
        [
          {
            "node": "LLM Call (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (Ollama)": {
      "main": [
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f18c6afd-d004-4bd9-9099-3f78b37a6a6d",
  "meta": {
    "instanceId": "00a8bc7dcc0678a45156c17552244c5fb9e78ff325baae937e09d98a3453ca71"
  },
  "id": "l0qIOBJbnkSQagfu",
  "tags": []
}