n8n_workflows/MongoDB_Query_SubWF.json
{
  "name": "MongoDB Query SubWF",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query_type }}",
                    "rightValue": "character",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "character"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query_type }}",
                    "rightValue": "turn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "turn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query_type }}",
                    "rightValue": "session",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "session"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query_type }}",
                    "rightValue": "scene",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scene"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query_type }}",
                    "rightValue": "campaign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "campaign"
            }
          ]
        },
        "options": {}
      },
      "id": "query-router",
      "name": "Query Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "collection": "entities",
        "options": {
          "queryParameters": "={{ JSON.stringify({ id: { $in: $json.entity_ids || [] }, kind: 'pc' }) }}"
        }
      },
      "id": "mongodb-character",
      "name": "MongoDB - Character",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [680, 140],
      "credentials": {
        "mongoDb": {
          "id": "call_of_cthulhu_mongodb",
          "name": "CoC MongoDB"
        }
      }
    },
    {
      "parameters": {
        "collection": "turns",
        "options": {
          "queryParameters": "={{ JSON.stringify($json.filters || {}) }}",
          "sort": "={{ JSON.stringify({ turn_number: -1 }) }}",
          "limit": 50
        }
      },
      "id": "mongodb-turn",
      "name": "MongoDB - Turn",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [680, 260],
      "credentials": {
        "mongoDb": {
          "id": "call_of_cthulhu_mongodb",
          "name": "CoC MongoDB"
        }
      }
    },
    {
      "parameters": {
        "collection": "sessions",
        "options": {
          "queryParameters": "={{ JSON.stringify($json.filters || {}) }}"
        }
      },
      "id": "mongodb-session",
      "name": "MongoDB - Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [680, 380],
      "credentials": {
        "mongoDb": {
          "id": "call_of_cthulhu_mongodb",
          "name": "CoC MongoDB"
        }
      }
    },
    {
      "parameters": {
        "collection": "scenes",
        "options": {
          "queryParameters": "={{ JSON.stringify($json.filters || {}) }}"
        }
      },
      "id": "mongodb-scene",
      "name": "MongoDB - Scene",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [680, 500],
      "credentials": {
        "mongoDb": {
          "id": "call_of_cthulhu_mongodb",
          "name": "CoC MongoDB"
        }
      }
    },
    {
      "parameters": {
        "collection": "campaigns",
        "options": {
          "queryParameters": "={{ JSON.stringify($json.filters || {}) }}"
        }
      },
      "id": "mongodb-campaign",
      "name": "MongoDB - Campaign",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [680, 620],
      "credentials": {
        "mongoDb": {
          "id": "call_of_cthulhu_mongodb",
          "name": "CoC MongoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract relevant fields to minimize context\nconst queryType = $input.first().json.query_type;\nconst results = $input.all().map(item => item.json);\n\nlet extractedData = [];\nlet references = [];\n\nif (queryType === 'character') {\n  extractedData = results.map(char => {\n    const data = char.data?.character_sheet || {};\n    references.push(`Character: ${char.name || 'Unknown'} (${char.id})`);\n    return {\n      id: char.id,\n      name: char.name,\n      occupation: data.investigator?.occupation,\n      age: data.investigator?.age,\n      characteristics: data.characteristics || {},\n      sanity: data.sanity || {},\n      hit_points: data.hit_points || {},\n      magic_points: data.magic_points || {},\n      luck: data.luck || {},\n      skills: data.skills ? Object.entries(data.skills).map(([name, skill]) => ({\n        name,\n        base: skill.base,\n        value: skill.reg || skill.base,\n        used: skill.used || false\n      })) : [],\n      weapons: data.combat?.weapons || [],\n      status: data.status || {}\n    };\n  });\n} else if (queryType === 'turn') {\n  extractedData = results.map(turn => {\n    references.push(`Turn #${turn.turn_number || turn.order} (${turn.scene_id})`);\n    return {\n      id: turn.id,\n      turn_number: turn.turn_number || turn.order,\n      scene_id: turn.scene_id,\n      session_id: turn.session_id,\n      timestamp: turn.timestamp,\n      status: turn.status,\n      actions: turn.actions || [],\n      reaction: turn.reaction || null\n    };\n  });\n} else if (queryType === 'session') {\n  extractedData = results.map(session => {\n    references.push(`Session: ${session.session_name || session.id}`);\n    return {\n      id: session.id,\n      session_name: session.session_name,\n      session_number: session.session_number,\n      session_date: session.session_date,\n      campaign_id: session.campaign_id,\n      realm_id: session.realm_id,\n      attendance: session.attendance,\n      story_links: session.story_links\n    };\n  });\n} else if (queryType === 'scene') {\n  extractedData = results.map(scene => {\n    references.push(`Scene: ${scene.scene_name || scene.name} (${scene.id})`);\n    return {\n      id: scene.id,\n      scene_name: scene.scene_name || scene.name,\n      chapter_id: scene.chapter_id,\n      location_id: scene.location_id,\n      status: scene.status,\n      participants: scene.participants || [],\n      turns: scene.turns || [],\n      summary: scene.summary,\n      description: scene.description\n    };\n  });\n} else if (queryType === 'campaign') {\n  extractedData = results.map(campaign => {\n    references.push(`Campaign: ${campaign.name} (${campaign.id})`);\n    return {\n      id: campaign.id,\n      name: campaign.name,\n      realm_id: campaign.realm_id,\n      status: campaign.status,\n      story_arc: campaign.story_arc || {},\n      setting: campaign.setting || {}\n    };\n  });\n}\n\nreturn [\n  {\n    json: {\n      data: extractedData,\n      references: references,\n      query_type: queryType\n    }\n  }\n];"
      },
      "id": "extract-fields",
      "name": "Extract Relevant Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-to-workflow",
      "name": "Respond to Workflow",
      "type": "n8n-nodes-base.respondToWorkflow",
      "typeVersion": 1,
      "position": [1140, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Query Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Type Router": {
      "main": [
        [
          {
            "node": "MongoDB - Character",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB - Turn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB - Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB - Scene",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MongoDB - Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Character": {
      "main": [
        [
          {
            "node": "Extract Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Turn": {
      "main": [
        [
          {
            "node": "Extract Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Session": {
      "main": [
        [
          {
            "node": "Extract Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Scene": {
      "main": [
        [
          {
            "node": "Extract Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Campaign": {
      "main": [
        [
          {
            "node": "Extract Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Relevant Fields": {
      "main": [
        [
          {
            "node": "Respond to Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "mongodb-query-subwf",
  "meta": {
    "instanceId": "call-of-cthulhu-n8n"
  },
  "tags": []
}
